@using BookManagementApp.Areas.Admin.Models
@model User

@{
    ViewData["Title"] = "Login";
    Layout = "_LogRegLayout";
}

<h1 class="text-center mt-5">Giriş Yap</h1>
<hr />

<form method="post">
    <div class="mb-2">
        <label  class="form-label">Kullanıcı Adı</label>
        <input name="username" class="form-control" />
    </div>
    <div class="mb-2">
        <label  class="form-label">Şifre</label>
        <input name="password" class="form-control" />
    </div>
    @if (ViewBag.Error != null)
    {
        <p style="color:red">@ViewBag.Error</p>
    }
    <button type="submit" class="btn btn-primary">Giriş Yap</button>
    <a class="btn btn-outline-dark" asp-action="Register">Kayıt Ol</a>
</form>

