@model Book

@{
    ViewData["Title"] = "Create Book";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<hr />

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id"/>
    <div class="mb-2">
        <label class="form-label" asp-for="Name">Book Name</label>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="mb-2">
        <label class="form-label" asp-for="Author">Book Author</label>
        <input class="form-control" asp-for="Author" />
    </div>
    <div class="mb-2">
        <label class="form-label" asp-for="Description">Book Description</label>
        <input class="form-control" asp-for="Description" />
    </div>
    <div class="mb-2">
        <label class="form-label" asp-for="Price">Book Price</label>
        <input class="form-control" asp-for="Price" />
    </div>
    <div class="mb-2">
        <label class="form-label" asp-for="Stock">Book Stock</label>
        <input class="form-control" asp-for="Stock" />
    </div>
    <div class="mb-2">
        <label class="form-label" asp-for="Image">Image</label>
        <input class="form-control" type="file" name="ImageFile" />
    </div>
    <div class="mb-2">
        <label class="form-label">Book Category</label>
        <select class="form-select" asp-for="CategoryId" asp-items="@ViewBag.Categories">
            <option value="">-- Select Category --</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>