@model Book

@{
    ViewData["Title"] = "Edit Book";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Image" />
    <div class="mb-2">
        <label class="form-label" asp-for="Name">Book Name</label>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="mb-2">
        <label class="form-label" asp-for="Author">Book Author</label>
        <input class="form-control" asp-for="Author" />
    </div>
    <div class="mb-2">
        <label class="form-label" asp-for="Description">Book Description</label>
        <input class="form-control" asp-for="Description" />
    </div>
    <div class="mb-2">
        <label class="form-label" asp-for="Price">Book Price</label>
        <input class="form-control" asp-for="Price" />
    </div>
    <div class="mb-2">
        <label class="form-label" asp-for="Stock">Book Stock</label>
        <input class="form-control" asp-for="Stock" />
    </div>
    <div class="mb-2">
        <label class="form-label" asp-for="TotalPages">Total Pages</label>
        <input class="form-control" asp-for="TotalPages" />
    </div>
    <div class="mb-2">
        <label class="form-label" asp-for="Image"></label>
        <input class="form-control" type="file" name="ImageFile"/>
        @if (!string.IsNullOrEmpty(Model.Image))
        {
            <img src="@Model.Image" alt="Book Image" style="max-height:100px;" />
        }

    </div>
    <div class="mb-2">
        <label class="form-label">Book Category</label>
        <select class="form-select" asp-for="CategoryId" asp-items="ViewBag.Categories">
            <option value="">Select Category</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>